@model Data.Models.User;
@{
    string name = (string)ViewData["name"];
}
<div class="container">
    <div class="row justify-content-center" style="margin-top: 20px;">
        <div class="detail-emp-form">
            <div class="row justify-content-center">
                <h2>Detail of @name</h2>
            </div>
        </div>
        
    </div>
    <div>

    </div>
</div>