@model List<admin.ViewModels.UserViewModel>;

<div class="container">
    <div class="row btn-emp-new">
        <div class="col-3">
            <a asp-controller="dashboard" asp-action="createnewuser"><span>Create</span></a>
        </div>
        <div class="col-9">
            <form asp-controller="dashboard" asp-action="employees">
                <div>
                    <input type="text" name="searchName" placeholder="Enter name..."/>
                    <button type="submit">Search</button>
                </div>
                
            </form>  
        </div>
    </div>
    <div class="row">
        <div class="col-3 title-emp-detail emp-detail"><span>Fullname</span></div>
        <div class="col-2 title-emp-detail emp-detail"><span>Username</span></div>
        <div class="col-1 title-emp-detail emp-detail"><span>Role</span></div>
        <div class="col-4 title-emp-detail emp-detail"><span>Store's address</span></div>
        <div class="col-1 title-emp-detail emp-detail"><span>Status</span></div>
        <div class="col-1 title-emp-detail emp-detail">Action</div>
        @foreach (var user in Model.ToList())
        {
            <div class="col-3 emp-detail"><span>@user.FullName</span></div>
            <div class="col-2 emp-detail"><span>@user.Username</span></div>
            <div class="col-1 center-emp-detail emp-detail">
                @if(user.RoleId == 2)
                {
                    <span>Manager</span>
                }
                else if (user.RoleId == 3)
                {
                    <span>Employee</span>
                }
                else
                {
                    <span>Admin</span>
                }
            </div>
            <div class="col-4 emp-detail"><span>@user.StoresAddress</span></div>
            <div class="col-1 center-emp-detail emp-detail">
                @if(user.Status == false)
                {
                    <span>Ready</span>
                }
                else
                {
                    <span>Blocked</span>
                }
            </div>
            <div class="col-1 emp-detail">
                <a asp-controller="dashboard" asp-action="employeedetail" asp-route-username="@user.Username">View</a>
            </div>
        }
    </div>
</div>